applications/neovim/SKK-JISYO.L linguist-vendored
applications/emacs/emacspkg/emacs-config.org linguist-generated=true -whitespace
applications/emacs-minimal/emacspkg/emacs-config.org linguist-generated=true -whitespace
