.DS_Store
/result
result-*
.terraform.lock.hcl
.terraform/
*.tfstate*
.pre-commit-config.yaml

# Terraform temporary files
*.tfplan
plan.txt
**/plan.txt
**/*_plain.yaml

# Local Claude settings
.claude/
