;; karabiner.edn
;; 3つのJSONファイルの内容を統合したGoku設定ファイル

{;; メインとなる設定リスト
	 :input-sources {
	 		:en {
	    		    :input_source_id "jp.sourceforge.inputmethod.aquaskk.Ascii"
	     		    :language "en"
	     		    :input_mode_id "com.apple.inputmethod.Roman"},
	                :jp {
			    :input_source_id "jp.sourceforge.inputmethod.aquaskk.Hiragana"
		 	    :language "ja"
		 	    :input_mode_id "com.apple.inputmethod.Japanese.Hiragana"}
		 }
 :main [
	{;; ルール2: AquaSKK関連の修飾キー設定
         :des "AquqSKKで日本語が有効化の際に英数で変更できるようにする"
		 
         :rules [[:##japanese_eisuu :right_control]
                 [:##japanese_kana :left_shift]
                 
                 [:##left_control :l [:jp]]
		 
                 [:##left_control :japanese_kana [:en]]
                 ]}

         {;; ルール3: 新下駄配列の実装 
         :des "新下駄配列の実装"
         :rules [:jp
                 [{:sim[:k :q]:modi {:optional [:left_shift]}} [:f :a]]
                 [{:sim[:k :w]:modi {:optional [:left_shift]}} [:g :o]]
                 [{:sim[:k :e]:modi {:optional [:left_shift]}} [:f :u]]
                 [{:sim[:k :r]:modi {:optional [:left_shift]}} [:f :i]]
                 [{:sim[:k :t]:modi {:optional [:left_shift]}} [:f :e]]
                 [{:sim[:d :y]:modi {:optional [:left_shift]}} [:u :x :i]]
                 [{:sim[:d :u]:modi {:optional [:left_shift]}} [:p :a]]
                 [{:sim[:d :i]:modi {:optional [:left_shift]}} [:y :o]]
                 [{:sim[:d :o]:modi {:optional [:left_shift]}} [:m :i]]
                 [{:sim[:d :p]:modi {:optional [:left_shift]}} [:u :x :e]]
                 [{:sim[:d :open_bracket]:modi {:optional [:left_shift]}} [:u :x :o]]
                 [{:sim[:k :a]:modi {:optional [:left_shift]}} [:h :o]]
                 [{:sim[:k :s]:modi {:optional [:left_shift]}} [:j :i]]
                 [{:sim[:k :d]:modi {:optional [:left_shift]}} [:r :e]]
                 [{:sim[:k :f]:modi {:optional [:left_shift]}} [:m :o]]
                 [{:sim[:k :g]:modi {:optional [:left_shift]}} [:y :u]]
                 [{:sim[:d :h]:modi {:optional [:left_shift]}} [:h :e]]
                 [{:sim[:d :j]:modi {:optional [:left_shift]}} :a]
                 [{:sim[:d :l]:modi {:optional [:left_shift]}} :o]
                 [{:sim[:d :semicolon]:modi {:optional [:left_shift]}} :e]
                 [{:sim[:d :quote]:modi {:optional [:left_shift]}} :!S1]
                 [{:sim[:k :z]:modi {:optional [:left_shift]}} [:d :u]]
                 [{:sim[:k :x]:modi {:optional [:left_shift]}} [:z :o]]
                 [{:sim[:k :c]:modi {:optional [:left_shift]}} [:b :o]]
                 [{:sim[:k :v]:modi {:optional [:left_shift]}} [:m :u]]
                 [{:sim[:k :b]:modi {:optional [:left_shift]}} [:f :o]]
                 [{:sim[:d :n]:modi {:optional [:left_shift]}} [:s :e]]
                 [{:sim[:d :m]:modi {:optional [:left_shift]}} [:n :e]]
                 [{:sim[:d :comma] :modi {:optional [:left_shift]}} [:b :e]]
                 [{:sim[:d :period]:modi {:optional [:left_shift]}} [:p :u]]
                 [{:sim[:d :slash] :modi {:optional [:left_shift]}} [:v :u]]
                 [{:sim[:l :q]:modi {:optional [:left_shift]}} [:d :i]]
                 [{:sim[:l :w]:modi {:optional [:left_shift]}} [:m :e]]
                 [{:sim[:l :e]:modi {:optional [:left_shift]}} [:k :e]]
                 [{:sim[:l :r]:modi {:optional [:left_shift]}} [:t :e :x :i]]
                 [{:sim[:l :t]:modi {:optional [:left_shift]}} [:d :e :x :i]]
                 [{:sim[:s :y]:modi {:optional [:left_shift]}} [:s :y :e]]
                 [{:sim[:s :u]:modi {:optional [:left_shift]}} [:p :e]]
                 [{:sim[:s :i]:modi {:optional [:left_shift]}} [:d :o]]
                 [{:sim[:s :o]:modi {:optional [:left_shift]}} [:y :a]]
                 [{:sim[:s :p]:modi {:optional [:left_shift]}} [:j :e]]
                 [{:sim[:l :a]:modi {:optional [:left_shift]}} [:w :o]]
                 [{:sim[:l :s]:modi {:optional [:left_shift]}} [:s :a]]
                 [{:sim[:l :f]:modi {:optional [:left_shift]}} [:r :i]]
                 [{:sim[:l :g]:modi {:optional [:left_shift]}} [:z :u]]
                 [{:sim[:s :h]:modi {:optional [:left_shift]}} [:b :i]]
                 [{:sim[:s :j]:modi {:optional [:left_shift]}} [:r :a]]
                 [{:sim[:s :k]:modi {:optional [:left_shift]}} [:j :i]]
                 [{:sim[:s :semicolon]:modi {:optional [:left_shift]}} [:s :o]]
                 [{:sim[:s :quote]:modi {:optional [:left_shift]}} :!Sslash]
                 [{:sim[:l :z]:modi {:optional [:left_shift]}} [:z :e]]
                 [{:sim[:l :x]:modi {:optional [:left_shift]}} [:z :a]]
                 [{:sim[:l :c]:modi {:optional [:left_shift]}} [:g :i]]
                 [{:sim[:l :v]:modi {:optional [:left_shift]}} [:r :o]]
                 [{:sim[:l :b]:modi {:optional [:left_shift]}} [:n :u]]
                 [{:sim[:s :n]:modi {:optional [:left_shift]}} [:w :a]]
                 [{:sim[:s :m]:modi {:optional [:left_shift]}} [:d :a]]
                 [{:sim[:s :comma] :modi {:optional [:left_shift]}} [:p :i]]
                 [{:sim[:s :period]:modi {:optional [:left_shift]}} [:p :o]]
                 [{:sim[:s :slash] :modi {:optional [:left_shift]}} [:c :h :e]]
                 [{:sim[:i :q]:modi {:optional [:left_shift]}} [:h :y :u]]
                 [{:sim[:i :w]:modi {:optional [:left_shift]}} [:s :h :u]]
                 [{:sim[:i :e]:modi {:optional [:left_shift]}} [:s :h :o]]
                 [{:sim[:i :r]:modi {:optional [:left_shift]}} [:k :y :u]]
                 [{:sim[:i :t]:modi {:optional [:left_shift]}} [:c :h :u]]
                 [{:sim[:e :y]:modi {:optional [:left_shift]}} [:m :y :a]]
                 [{:sim[:e :u]:modi {:optional [:left_shift]}} [:b :y :a]]
                 [{:sim[:e :o]:modi {:optional [:left_shift]}} [:j :o]]
                 [{:sim[:e :p]:modi {:optional [:left_shift]}} [:p :y :a]]
                 [{:sim[:i :a]:modi {:optional [:left_shift]}} [:h :y :o]]
                 [{:sim[:i :d]:modi {:optional [:left_shift]}} [:y :o]]
                 [{:sim[:i :f]:modi {:optional [:left_shift]}} [:k :y :o]]
                 [{:sim[:i :g]:modi {:optional [:left_shift]}} [:c :h :o]]
                 [{:sim[:e :h]:modi {:optional [:left_shift]}} [:m :y :u]]
                 [{:sim[:e :j]:modi {:optional [:left_shift]}} [:b :y :u]]
                 [{:sim[:e :k]:modi {:optional [:left_shift]}} [:f :u]]
                 [{:sim[:e :l]:modi {:optional [:left_shift]}} [:k :e]]
                 [{:sim[:e :semicolon]:modi {:optional [:left_shift]}} [:p :y :u]]
                 [{:sim[:i :z] :modi {:optional [:left_shift]}} [:h :y :a]]
                 [{:sim[:i :c] :modi {:optional [:left_shift]}} [:s :h :a]]
                 [{:sim[:i :v] :modi {:optional [:left_shift]}} [:k :y :a]]
                 [{:sim[:i :b] :modi {:optional [:left_shift]}} [:c :h :a]]
                 [{:sim[:e :n] :modi {:optional [:left_shift]}} [:x :y :o]]
                 [{:sim[:e :m] :modi {:optional [:left_shift]}} [:x :i]]
                 [{:sim[:e :slash]:modi {:optional [:left_shift]}} [:x :w :a]]
                 [{:sim[:o :q]:modi {:optional [:left_shift]}} [:r :y :u]]
                 [{:sim[:o :w]:modi {:optional [:left_shift]}} [:j :u]]
                 [{:sim[:o :r]:modi {:optional [:left_shift]}} [:g :y :u]]
                 [{:sim[:o :t]:modi {:optional [:left_shift]}} [:n :y :u]]
                 [{:sim[:w :y]:modi {:optional [:left_shift]}} [:x :y :a]]
                 [{:sim[:w :u]:modi {:optional [:left_shift]}} [:x :u]]
                 [{:sim[:w :p]:modi {:optional [:left_shift]}} [:x :o]]
                 [{:sim[:o :a]:modi {:optional [:left_shift]}} [:r :y :o]]
                 [{:sim[:o :s]:modi {:optional [:left_shift]}} [:y :a]]
                 [{:sim[:o :f]:modi {:optional [:left_shift]}} [:g :y :o]]
                 [{:sim[:o :g]:modi {:optional [:left_shift]}} [:n :y :o]]
                 [{:sim[:w :h]:modi {:optional [:left_shift]}} [:x :y :u]]
                 [{:sim[:w :j]:modi {:optional [:left_shift]}} [:x :a]]
                 [{:sim[:w :semicolon]:modi {:optional [:left_shift]}} [:x :e]]
                 [{:sim[:o :z] :modi {:optional [:left_shift]}} [:r :y :a]]
                 [{:sim[:o :c] :modi {:optional [:left_shift]}} [:j :a]]
                 [{:sim[:o :v] :modi {:optional [:left_shift]}} [:g :y :a]]
                 [{:sim [:o :b] :modi {:optional [:left_shift]}} [:n :y :a]]
                 
                 ;; 単体キーのルール
                 [:#Sq :hyphen]
                 [:#Sw [:n :i]]
                 [:#Se [:h :a]]
                 [:#Sr :comma]
                 [:#St [:c :h :i]]
                 [:#Sy [:g :u]]
                 [:#Su [:b :a]]
                 [:#Si [:k :o]]
                 [:#So [:g :a]]
                 [:#Sp [:h :i]]
                 [:#Sopen_bracket [:g :e]]
                 [:#Sa [:n :o]]
                 [:#Ss [:t :o]]
                 [:#Sd [:k :a]]
                 [:#Sf [:n :n]]
                 [:#Sg [:x :t :s :u]]
                 [:#Sh [:k :u]]
                 [:#Sj :u]
                 [:#Sk :i]
                 [:#Sl [:s :h :i]]
                 [:#Ssemicolon [:n :a]]
                 [:#Squote :quote]
                 [:#Sz [:s :u]]
                 [:#Sx [:m :a]]
                 [:#Sc [:k :i]]
                 [:#Sv [:r :u]]
                 [:#Sb [:t :s :u]]
                 [:#Sn [:t :e]]
                 [:#Sm [:t :a]]
                 [:#Scomma [:d :e]]
                 [:#Speriod :period]
                 [:#Sslash [:b :u]]
                 ]}
        {;; ルール1: JIS配列から自作配列への変換
         :des "JIS配列から自作配列への変換"
         :rules [:!jp
                 [:##q :k]
                 [:##w :y]
                 [:##e :o]
                 [:##r :period]
                 [:##t :hyphen]
                 [:##y :f]
                 [:##u :c]
                 [:##i :l]
                 [:##o :p]
                 [:##p :q]
                 [:##open_bracket :z]
                 [:##a :h]
                 [:##s :i]
                 [:##d :e]
                 [:##f :a]
                 [:##g :u]
                 [:##h :d]
                 [:##j :s]
                 [:##k :t]
                 [:##l :n]
                 [:##semicolon :r]
                 [:##quote :v]
                 [:##z :j]
                 [:##x :semicolon]
                 [:##c :comma]
                 [:##v :!S7] ; Shift+7
                 [:##b :slash]
                 [:##n :w]
                 [:##m :g]
                 [:##comma :m]
                 [:##period :b]
                 [:##slash :x]
		 
		 [:##hyphen :quote]
		 ]} 

		 ]}
